<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main><%- html %></main>

	<!--
	<script src="node_modules/react/dist/react.js"></script>
	-->
	<script src="node_modules/react/dist/react.min.js"></script>
	<script src="node_modules/socket.io-client/socket.io.js"></script>

	<script src="state.js"></script>
	<script src="build/index.js"></script>
</body>
</html>
